html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(59 39 241 / 9%);
    text-shadow: 3px 3px 5px rgb(72 66 75 / 52%);
    font-family: 'Libre Baskerville', serif;
    background-image: url(../images/augustine-wong-li0iC0rjvvg-unsplash.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

html, body {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: transparent;
    padding: 0 1.5rem;
}

header.row {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

header.row > * {
    display: flex;
    align-items: center;
    flex-basis: 33%;
    min-height: 3.5rem;
}

header nav {
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    list-style: none;
}

.brand {
    justify-content: center;
}

.name, .brand {
    font-size: 1.2rem;
    font-weight: bold;
}

nav ul li {
    color: blue !important;
    padding-right: 1rem;
}

nav ul li a {
    min-width: 2rem;
}

main {
    padding: 1rem;
}

img.hero {
    max-height: 18em;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#about-me .column:first-child h3 {
    text-align: center;
}

#about-me figure {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5rem;
    background-image: url(../images/file_animated.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#ballWrapper {
	width: 100%;
	height: 150px;
	position: relative;
	/* left: 50%; */
	/* top: 50%; */
	display: flex;
	margin-bottom: 2rem;
	justify-content: center;
    transition: all 0.4s;
}
#ball {
	width: 140px;
	/* margin: 0 auto; */
	height: 140px;
	border-radius: 70px;
	background: linear-gradient(top,  rgba(187,187,187,1) 0%,rgba(119,119,119,1) 99%);
	box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), 
				inset -2px -1px 40px rgba(0,0,0,0.4), 
				0 0 1px #000;
	position: absolute;
}
#ballShadow {
	display: none;
    width: 60px;
    height: 75px;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    background: rgba(20, 20, 20, .1);
    box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
    border-radius: 30px / 40px;	
}
#ballWrapper:hover {
	height: 300px;
}
#ballWrapper:hover #ball {
    animation: jump 1s ease-in-out 0.4s infinite;
}
#ballWrapper:hover #ballShadow {
	animation: shrink 1s ease-in-out 0.4s infinite;
	display: block;
}
@keyframes jump {
	0% {
		top: 0;
	}
	50% {
		top: 140px;
		height: 140px;
	}
	55% {
		top: 160px; 
		height: 120px; 
		border-radius: 70px / 60px;
	}
	65% {
		top: 120px; 
		height: 140px; 
		border-radius: 70px;
	}
	95% {
		top: 0;
	}
	100% {
		top: 0;
	}
}
@keyframes shrink {
	0% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 30px / 40px;
	}
	50% {
		bottom: 30px;
		margin-left: -30px;
		width: 60px;
		height: 2px;
		background: rgba(20, 20, 20, .3);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.3);
		border-radius: 20px / 20px;
	}
	100% {
		bottom: 0;
		margin-left: -30px;
		width: 60px;
		height: 75px;
		background: rgba(20, 20, 20, .1);
		box-shadow: 0px 0 20px 35px rgba(20,20,20,.1);
		border-radius: 30px / 40px;
	}
}

#about-me .column:last-child {
    padding-left: 5rem;
    padding-right: 5rem;
}

#social hr {
    display: none;
}

#social ul {
    padding: 0;
}

#social ul li {
    min-width: 5rem;
}

.grid {
    flex-direction: row;
}

.card {
    margin: 1rem;
    max-width: 20rem;
    box-shadow: 0px 0px 10px 2px rgb(164 179 234);
    border-radius: 1px;
    transform: scale(1); 
    transition: transform 0.3s linear;
}

.card:hover {
    box-shadow: 0px 0px 8px 8px rgb(135 158 241);
    transform: scale(1.1);
    transition: transform 0.3s linear;
}

.card > img {
    width: 100%;
    border-radius: 2px;
}

.card:first-child {
    margin-top: 1rem;
}

.card:last-child {
    margin-bottom: 1rem;
}

#projects {
    margin-bottom: 2em;
}

footer {
    background: linear-gradient(rgb(6 17 103),rgb(16 40 86 / 74%));
    min-height: 6rem;
}

#social {
    flex-direction: row;
    justify-content: space-around;
}

#social li {
    list-style: none;
    display: flex;
    flex-direction: column;
}

#social li label {
    font-size: 0.5rem;
    margin-top: 0.5em;
    color: white;
    visibility: hidden;
}

#social li:hover > label {
    visibility: visible;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
}

div.fa {
    font-size: 1rem;
    color: white;
}

hr {
    width: 50%;
}

a:-webkit-any-link {
    color: blue !important;
}

a:hover {
    color: black !important;
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    header.row > * {
        flex-basis: 50%;
    }
    header.row .nav {
        flex-basis: 100%;
    }
    header .brand {
        justify-content: flex-end;
    }
    header nav {
        flex-basis: 100%;
        justify-content: center;
    }
    nav ul li {
        padding: 0 1.5rem;
    }
    #about-me .column:last-child {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .grid {
        justify-content: center
    }
    #social {
        flex-direction: column;
    }
    #social hr {
        display: block;
    }
}

@media screen and (max-width: 476px) {
    html {
        font-size: 14px;
    }
    div.fa {
        font-size: 1.25rem;
    }
    #social li label {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 376px) {
    .brand {
        font-size: 1rem;
    }
    .row .column h3 {
        font-size: 1.5rem;
    }
}